body {
padding: 0;
margin: 0;
background-color: #1b1b1b;
display: flex;
}

canvas {
position: absolute;
top: 0;
left: 0;
z-index: -1;
}

.label {
color: white;
font-family: monospace;
margin-bottom: 5px;
}

.miniLabel {
color: white;
font-family: monospace;
margin-left: 2px;
font-size: 0.7rem;
}

.settings {
display: flex;
flex-direction: row;
align-items: center;
width: 50%;
height: 100%;
margin-left: 400px;
}

.col {
flex-direction: column;
width: 33%;
}

.inputsListContainer {
width: 70%;
margin-bottom: 5px;
padding: 5px;
max-height: 65px;
overflow-y: scroll;
border: 1px solid white;
}

.inputContainer {
display: flex;
flex-direction: row;
align-items: center;
margin-bottom: 5px;
}

.input {
font-family: monospace;
color: white;
background-color: #1b1b1b;
border: 1px solid white;
}

.switch {
position: relative;
display: inline-block;
width: 35px;
height: 17px;
margin-top: 3px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.switch .slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #1b1b1b;
border: 1px solid white;
-webkit-transition: .4s;
transition: .4s;
}

.switch .slider:before {
position: absolute;
content: "";
height: 12px;
width: 12px;
left: 1px;
bottom: 2px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #4a36e0;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(18px);
-ms-transform: translateX(18px);
transform: translateX(18px);
}

.disabled {
opacity: 0.6;
pointer-events: none;
}